@use "base" as *;



.stats {
  display: flex;
  flex-direction: column;
  width: 80%;
  
  &__sub {
    font-family: $font-title;
    font-size: 2vw;
    -webkit-text-stroke: 1px;
    color: $color-primary;
  }

  &__list {
    &__item {
      font-size: 1.2vw;
      -webkit-text-stroke: 1px;
      color: $color-black;
    }
  }

  p {
    padding: 0 10%;
    margin-top: 8%;
  }
}



@media screen and (max-width:$breakpoint-tablet-large){

  .navi-lower {
    margin-top: 12rem;
  }

  .footer-line {
    margin-top: 50px;
  }

}


@media screen and (max-width: $breakpoint-tablet-small){

  .title {
    &__upper-bg--heading {
      font-size: 4vh;
    }

    &__lower-bg--subheading {
      font-size: 3vh;
    }
  }

  .main { 
    &__grid {
      margin-bottom: 0;
    }
  }
  
  .stats {
    &__sub {
      font-size: 26px;
      -webkit-text-stroke: 1px;
      color: $color-primary;
    }
    
    &__list {
      &__item {
        font-size: 20px;
        -webkit-text-stroke: 1px;
        color: $color-black;
      }
    }
    
    p {
      padding: 0 0;
    }
  }

  .navi-lower {
    margin-top: 4rem;
  }
}


@media screen and (max-width:$breakpoint-mobile){

  .title {
    &__lower-bg--subheading {
      font-size: 2.3vh;
    }
  }

  .stats {
    &__sub {
      font-size: 18px;
      -webkit-text-stroke: 1px;
      color: $color-primary;
    }
  
    &__list {
      &__item {
        font-size: 14px;
        -webkit-text-stroke: 1px;
        color: $color-black;
      }
    }

    p {
      padding: 0 0;
    }
  }
  
  .navi-lower {
    margin-top: 30rem;
  }
  
  .footer-line {
    margin-top: 50px;
  }
}


