@use "./base" as *;

.page {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  height: 15vh;
  justify-content: flex-end;
  background-color: $color-primary-dark;
  text-align: end;
  padding: 16px;
  padding-top: 2.8vh;
}

.navi {
  position: fixed;
  top: 0;
  padding: 16px;

  & > * {
    margin-left: 20px;
  }
}

.navi-lower {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 20px;
  position: initial;
}

.title {
  display: grid;
  grid-template-rows: 3fr 2fr;

  &__upper-bg {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 15vh;
    background-color: black;
  }

  &__lower-bg {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 1vh;
  }
}

.right-grid {
  display: flex;
  position: absolute;
  right: 0;
  top: 52vh;
  height: 10vw;
  width: 10vw;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5vw;
    margin-bottom: 8vh;

    & p {
      display: flex;
      width: 310px;
    }
  }
}

@media screen and (max-width: $breakpoint-tablet-large) {
  .top {
    height: 22vh;
  }

  .title {
    &__upper-bg {
      height: 26vh;
    }
  }

  .right-grid {
    top: 41vh;
    height: 10vh;
  }

  .navi-lower {
    // margin-top: 14rem;
  }
}

@media screen and (max-width: $breakpoint-tablet-small) {
  
  .title {
    &__upper-bg {
      height: 26vh;
    }
  }
  
  .main {
    &__grid {
      margin-bottom: 0;
    }
  }
  .navi-lower {
    // margin-top: 6rem;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .top {
    height: 12vh;
    padding-top: 2.2vh;
  }

  .title {
    &__upper-bg {
      height: 18vh;
      padding-left: 20px;
      padding-right: 20px;
      background-color: black;
    }
  }

  .right-grid {
    top: 42vh;
  }

  .main {
    height: 46vh;
    &__grid {
      margin-bottom: 8vh;
    }
  }

  .navi-lower {
    // margin-top: 24rem;
    margin-bottom: 0;
  }
}
