@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Open+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.python {
  color: rgb(1, 124, 1);
}

.js {
  color: rgb(187, 0, 0);
}

.jsjava {
  color: purple;
}

.key {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  width: 80vw;
  font-weight: bolder;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.stroke {
  -webkit-text-stroke: 0.4px;
}

.splide {
  margin-top: 60px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  display: flex;
}
.splide .project-links {
  display: flex;
  gap: 20px;
}
.splide img {
  width: auto;
  height: 16vw;
  object-fit: scale-down;
  padding: 4px;
  margin-bottom: 20px;
}
.splide__slide {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.navi > * {
  font-family: "Bungee Hairline";
  font-size: 1.2vw;
  color: #fff;
  -webkit-text-stroke: 1px;
}
.navi > *:hover {
  color: #ff6767;
}

.navi-lower > * {
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.navi-lower > *:hover {
  color: #ff6767;
}

.top__header {
  margin-top: 1vh;
  -webkit-animation: fade-in 3s;
}
.top__header > * {
  font-family: "Bungee Hairline";
  padding-right: 16px;
}
.top__header--head {
  font-size: 5vh;
  -webkit-text-stroke: 2px;
}
.top__header--sub {
  font-size: 2vw;
  margin-top: -8%;
}

.title__upper-bg--heading {
  display: flex;
  font-family: "Bungee Hairline";
  font-size: 5vh;
  -webkit-text-stroke: 3px;
  color: #ff6767;
  height: 75%;
}
.title__upper-bg--subheading {
  display: flex;
  font-family: "Bungee Hairline";
  font-size: 2vh;
  -webkit-text-stroke: 2px;
  color: #a66f6f;
  height: 75%;
}
.title__lower-bg--subheading {
  display: flex;
  justify-content: flex-end;
  font-family: "Bungee Hairline";
  font-size: 4vh;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: black;
  height: 20%;
  margin-right: 4%;
  margin-top: 1%;
}

.box {
  height: 300px;
  width: 300px;
  background-color: rgba(255, 103, 103, 0.34);
}

.footer-line {
  border: 1px solid #000000;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 46px;
}
.footer__icons {
  display: flex;
  width: 140px;
  justify-content: space-between;
  align-items: center;
}
.footer__copy {
  display: flex;
  align-items: center;
}
.footer__copy * {
  margin: 0 2px;
}

@media screen and (max-width: 1280px) {
  .navi > * {
    font-size: 16px;
  }
  .title__upper-bg--heading {
    font-size: 4vw;
    height: 80%;
  }
  .top__header {
    margin-top: 22px;
  }
  .top__header--head {
    font-size: 30px;
  }
  .top__header--sub {
    font-size: 18px;
  }
  .footer {
    margin: 10px 28px;
  }
  .splide {
    width: 90%;
    height: 640px;
    margin-top: 40px;
  }
  .splide .desc {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .splide {
    width: 95%;
    height: 640px;
  }
  .splide img {
    height: 300px;
  }
  .splide .desc {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .splide {
    width: 95%;
    height: 580px;
  }
  .splide .desc {
    font-size: 12px;
  }
  .navi > * {
    font-size: 3.2vw;
  }
  .top__header {
    margin-top: 7vw;
  }
  .top__header--head {
    font-size: 5vw;
  }
  .top__header--sub {
    font-size: 3vw;
  }
  .title__upper-bg--heading {
    font-size: 20px;
    height: 80%;
    padding-top: 0px;
  }
  .title__lower-bg--subheading {
    font-size: 4vh;
    height: 20%;
    margin-right: 16%;
  }
  .footer-line {
    margin-top: 50px;
  }
  .footer {
    margin: 10px 0px;
    justify-content: space-evenly;
  }
  .footer * {
    font-size: 14px;
  }
  .footer__icons {
    width: auto;
  }
}
.page {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  height: 15vh;
  justify-content: flex-end;
  background-color: #a66f6f;
  text-align: end;
  padding: 16px;
  padding-top: 2.8vh;
}

.navi {
  position: fixed;
  top: 0;
  padding: 16px;
}
.navi > * {
  margin-left: 20px;
}

.navi-lower {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 20px;
  position: initial;
}

.title {
  display: grid;
  grid-template-rows: 3fr 2fr;
}
.title__upper-bg {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 15vh;
  background-color: black;
}
.title__lower-bg {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 1vh;
}

.right-grid {
  display: flex;
  position: absolute;
  right: 0;
  top: 52vh;
  height: 10vw;
  width: 10vw;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.main__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5vw;
  margin-bottom: 8vh;
}
.main__grid p {
  display: flex;
  width: 310px;
}

@media screen and (max-width: 1280px) {
  .top {
    height: 22vh;
  }
  .title__upper-bg {
    height: 26vh;
  }
  .right-grid {
    top: 41vh;
    height: 10vh;
  }
}
@media screen and (max-width: 900px) {
  .title__upper-bg {
    height: 26vh;
  }
  .main__grid {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .top {
    height: 12vh;
    padding-top: 2.2vh;
  }
  .title__upper-bg {
    height: 18vh;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
  }
  .right-grid {
    top: 42vh;
  }
  .main {
    height: 46vh;
  }
  .main__grid {
    margin-bottom: 8vh;
  }
  .navi-lower {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=main.css.map */
